{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}


{% block title %} {{category.name | title}} {% endblock title %}


{% block body %}
<div class="container-fluid">
    <div class="card card-body mb-3">
        <h2 class="mt-0">{{category.name | title}}</h2>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9">
                <div class="card card-body">
                    {{form | crispy}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-body">
                    <button type="submit" class="btn btn-outline-success btn-block"><i class="fa fa-floppy-o"></i>&nbsp
                        Save</button>
                    <a href="{% url 'crm:delete-event-category' category.id %}"
                        class="btn btn-outline-danger btn-block"><i class="fa fa-trash-o"></i>
                        &nbsp Delete</a>
                    <a href="{% url 'crm:event-categories' %}" class="btn btn-outline-secondary btn-block"><i
                            class="fa fa-arrow-left"></i>
                        &nbsp Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock body %}