{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

{% block title %} Invoice Setting {% endblock title %}


{% block body %}

<div class="container-fluid">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert"><strong>{{message}}</strong>
    </div>
    {% endfor %}
    <div class="card">
        <div class="card-body">
            <h2 class="">Invoice Setting</h2>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="card-body">
                    <h4>Title</h4><br>
                    <p>Add invoice title</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body">
                    {{form.title | as_crispy_field}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h4>Contact Details</h4><br>
                    <p>Contact information to be displayed on invoice.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body">
                    {{form.phone_number | as_crispy_field}}
                    {{form.email | as_crispy_field}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h4>Invoice Prefix</h4><br>
                    <p>Invoice prefix to generate invoice number.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body">
                    {{form.estimate_prefix | as_crispy_field}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h4>Terms & Conditions</h4><br>
                    <p>Terms and conditions to be displayed on invoice.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body">
                    {{form.terms_and_conditions | as_crispy_field}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h4>Payment Description</h4><br>
                    <p>Payment description to be displayed on invoice.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body">
                    {{form.payment_description | as_crispy_field}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h4>Address Information</h4><br>
                    <p>Address information to be displayed on invoice.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body">
                    {{form.address | as_crispy_field}}
                    {{form.city | as_crispy_field}}
                    {{form.state | as_crispy_field}}
                    {{form.zip_code | as_crispy_field}}
                    {{form.country | as_crispy_field}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h4>Logo</h4><br>
                    <p>Add an logo for the Invoice.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body">
                    {{form.logo | as_crispy_field}}
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="card card-body">
                    <div class="text-right">
                        <a href="{% url 'crm:companies' %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>

{% endblock body %}